<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>

<body class="grid grid-cols-8 h-screen font-sans bg-white">
  <aside class="sidebar col-span-2 flex flex-col max-h-screen bg-slate-700 text-slate-50">
    <h2 class="text-xl p-5 p-5">Todolist App</h2>
    <ul class="project-list px-5 overflow-auto p-5 grow"></ul>
    <div class="new-project w-full">
      <form id='new-project-form' class="flex p-3">
        <input type="submit" value="+" class="mr-3">
        <input type="text" name="project" id="project"
          class="px-3 px-3 py-2 w-1/2 grow text-black outline-none rounded-sm" placeholder="Add new project">
      </form>
    </div>
  </aside>
  <main id="todo" class="col-span-6 max-h-screen flex flex-col p-5 drop-shadow-lg">
    <h2 id="title" class="text-3xl px-5 py-3 bg-white drop-shadow-sm">My Day</h2>
    <ul class="tasks-list grow max-h-fit overflow-auto bg-white px-5 py-3 bg-white"></ul>
    <form id="new-task-form" class="flex justify-between px-5 py-3 text-white bg-slate-500">
      <input type="submit" class="px-3 py-1 text-white cursor-pointer" value="+">
      <input type="text" name="task" id="task" class="px-3 px-3 py-2 w-1/2 grow outline-none rounded-sm text-black"
        placeholder="Add new task" autofocus="autofocus">
    </form>
  </main>
</body>

</html>